<aside class="sidebar">
  <!--<div class="profile">
    <div class="avatar"></div>
    <h2 id="ti">ISI SCHOOL</h2>
    <p id="ti">Admin</p>
  </div>  -->
  
  <nav class="nav flex-column">
    <a class="nav-link active" routerLink="/admin/dashboard"><i class="bi bi-house-door"></i> Tableau de bord</a>
    <a class="nav-link" routerLink="/admin/enseignants"><i class="bi bi-person-badge"></i> Enseignants</a>
    <a class="nav-link " routerLink="/admin/eleve"><i class="bi bi-people-fill"></i> Élèves</a>
    <a class="nav-link" routerLink="/admin/matieres"><i class="bi bi-journal-bookmark"></i> Matières</a>
    <a class="nav-link" routerLink="/admin/classes"><i class="bi bi-building"></i> Classes</a>
    <a class="nav-link" routerLink="/admin/tuteurs"><i class="bi bi-building"></i> tuteurs</a>
    <a class="nav-link" routerLink="/admin/notes/classe"><i class="bi bi-clipboard-data"></i> Notes</a>
    <a class="nav-link" routerLink="/admin/bulletins/admin"><i class="bi bi-file-earmark-text"></i> Bulletins</a>
    <a class="nav-link" routerLink="/admin/affectations"><i class="bi bi-building"></i> Affectations</a>
  </nav>
</aside>
