<aside class="sidebar">
  <div class="profile">
    <div class="avatar"></div>
    <h2>ISI SCHOOL</h2>
    <p>Admin</p>
  </div>
  <nav class="menu">
    <ul>
      <li routerLink="/admin/dashboard"><i class="icon">🏠</i> Tableau de bord</li>
      <li routerLink="/admin/enseignants"><i class="icon">👨‍🏫</i> Enseignants</li>
      <li routerLink="/admin/eleve"><i class="icon">👩‍🎓</i> Élèves</li>
      <li routerLink="/admin/matieres"><i class="icon">📚</i> Matières</li>
      <li routerLink="/admin/classes"><i class="icon">🏫</i> Classes</li>
      <li routerLink="/admin/note"><i class="icon">🏫</i> Classes</li>
      <li routerLink="/admin/classes"><i class="icon">🏫</i> Classes</li>
      <li routerLink="/admin/notifications"><i class="icon">🔔</i> Notifications</li>
      <li routerLink="/auth/login"><i class="icon">🚪</i> Déconnexion</li>
    </ul>
  </nav>
</aside>
