<h2>Modifier une note</h2>
<form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
    <label>Note (/20)</label>
    <input type="number" formControlName="note" min="0" max="20" required  placeholder="note"/>
    <label>Type</label>
    <select formControlName="type" title="Type" required>
        <option value="Devoir">Devoir</option>
        <option value="Composition">Composition</option>
        <option value="Contrôle">Contrôle</option>
    </select>

    <label>Coefficient</label>
    <input type="number" formControlName="coefficient" min="1" required placeholder="coefficient"/>

    <button type="submit" [disabled]="noteForm.invalid">Mettre à jour</button>
</form>
