
<div class="container mt-4">
  <h3>Mes Bulletins</h3>

  <div *ngIf="bulletins.length === 0">
    <p>Aucun bulletin disponible.</p>
  </div>

  <div *ngFor="let b of bulletins" class="card mb-3">
    <div class="card-body">
      <p><strong>Semestre :</strong> {{ b.periode }}</p>
      <p><strong>Moyenne générale :</strong> {{ b.moyenne_generale }}</p>
      <p><strong>Mention :</strong> {{ b.mention }}</p>

      <button class="btn btn-success" (click)="telechargerBulletinPdf(b.eleve_id, b.periode)">
        Télécharger le PDF
      </button>
    </div>
  </div>
</div>
