<app-navbar></app-navbar>
<form [formGroup]="formTuteur" (ngSubmit)="onSubmit()">
    <label>Nom</label>
    <input type="text" formControlName="nom" placeholder="Entrez le nom" />

    <label>Prénom</label>
    <input type="text" formControlName="prenom" placeholder="Entrez le prénom" />

    <label>Téléphone</label>
    <input type="text" formControlName="numero_tel" placeholder="Entrez le téléphone" />

    <label>Email</label>
    <input type="email" formControlName="email" placeholder="Entrez l'email" />

    <label>Élève</label>
    <select formControlName="eleve_id" title="eleve"> 
        <option value="">-- Choisir un élève --</option>
        <option *ngFor="let eleve of eleves" [value]="eleve.id">
        {{ eleve.user?.nom }} {{ eleve.user?.prenom }} (Classe : {{ eleve.classe?.nom }})
        </option>
    </select>

    <button type="submit" [disabled]="formTuteur.invalid">Enregistrer</button>
    <button type="reset" (click)="formTuteur.reset()">Annuler</button>

</form>
